<!-- <h2 class="uk-text-center uk-margin-top uk-text-danger">About Us</h2> -->
<div class="uk-panel uk-panel-box uk-margin-large-bottom uk-margin-large-top uk-panel-space uk-text-center-justify">
	<h2 class="uk-text-center uk-text-danger uk-text-bold">LTD BASILON GLOBAL SERVICE</h2>
	<h3 class="uk-text-warning" style="text-decoration:underline">What we do:</h3>
	<h4>Ltd "Basilon Global Service" is a construction company which was founded in 2011, Tbilisi. Our fields of work are construction, hotel management and bio-organic agriculture.
	</h4>

	<h3 class="uk-text-warning" style="text-decoration:underline">Construction:</h3>
	<h4>Our successfull projects:
		<ul class="uk-list">
			<li> Multifunctional buildings on Aleksidze #1, Aleksidze #7 and Tkvarcheli #2.</li>	
			<li> We are currently working on a large-scale project named "Basilon Towers".</li>
			<li> We are also working on resort "Basilon Eco Resort" in Sioni, which will give both residents ang guests of Tbilisi an opportunity to relax and replenish energy amidst the nature's depths at the sea level of 1050m.</li>
		</ul>
		
</h4>

	<h3 class="uk-text-warning" style="text-decoration:underline">Hotel:</h3>
	<h4>LTD "Basilon Global Service" owns and operates "Basilon Hotel" which was opened in 2014 in the district of Saburtalo. The company also currently works on a new hotel on Tkvarcheli 2.</h4>

	<h3 class="uk-text-warning" style="text-decoration:underline">Bio-organic agriculture:</h3>
	<h4>Our current project encompasses the production and cultivation of bio-organic agricultural products (pomegranate, Saperavi and Aleksandrouli vines.)

		Our projects stand out with the sheer scale, diversity, innovativative approach, modern architecture and mostly with quality because of which customers have been choosing "Basilon Global Service" for years.</h4>

	<h3 class="uk-text-warning" style="text-decoration:underline">How we do it:</h3>

	<h4>The main deciding factor of our succes is a team engaged during all project stages alongside with high quality materials and innovative technologies. Team's loyalty, knowledge and experience represents company's main asset. Team of "Basilon Global Service" serves the main idea with main values: quality, innovation and  development.</h4>

	<h3 class="uk-text-warning" style="text-decoration:underline">Our mission:</h3>
	<h4>We thrive to associate "Basilon Global Service" with comfortable, modern and healthy lifestyle.

		Thanks to the finished projects "Basilon Global Service" established itself as a development company which introduces high quality and comfortable standards of living and makes it affordable for consumers.

		The main determinant of our success is associated with high quality construction and seismic stability.

		The main goal of ltd "Basilon Global Service" is to create such an environment which will bring happiness and high living standards for everybody.</h4>

	<h3 class="uk-text-warning" style="text-decoration:underline">Our vision:</h3>
	<h4>To be dynamic and plant bilateral loalty.</h4>

	<h3 class="uk-text-warning" style="text-decoration:underline">We operate by the following values:</h3>
	<h4>* Consumer satisfaction - with the offered product.
		* Honesty and good faith - we always work with dignity and honesty.
		* Leadership and innovation - various fields are engaged in the same developlemnt kitchen. Every employee feels the important role when delivering a finished product.</h4>

	<h3 class="uk-text-warning" style="text-decoration:underline">Our motto:</h3>
	<h4>We won't offer such a product which we wouldn't wish for ourselves.</h4>

	<h3 class="uk-text-warning" style="text-decoration:underline">Leadership:</h3>
	<h4>We believe that professinalism creates success and opportunities for improvements and innovation. Our team, filled with professional and experienced stuff always tries to satisfy current customer needs and priorities.</h4>

</div>
