<!-- <h2 class="uk-text-center uk-margin-top uk-text-danger">About Us</h2> -->
<div class="uk-panel uk-panel-box uk-margin-large-bottom uk-margin-large-top uk-panel-space uk-text-center-justify">
	<h2 class="uk-text-center uk-text-bold uk-text-bold uk-text-danger">შ.პ.ს. „ბასილონ გლობალ სერვის“</h2>
	<h3 class="uk-text-bold uk-text-warning">რას ვაკეთებთ ჩვენ</h3>
	<h4>შ.პ.ს. “ბასილონ გლობალ სერვის“-ი არის სამშენებლო კომპანია, რომელიც დაფუძნდა ქ. თბილისში 2011 წელს. ჩვენი მუშაობის სფეროებს წარმოადგენს მშენებლობა, სასტუმროს მენეჯმენტი და ბიო-ორგანული სოფლის მეურნეობის პროდუქციის წარმოება.</h4>

	<h3 class="uk-text-bold uk-text-warning">მშენებლობა</h3>
	<h4>ჩვენ წარმატებით დავაპროექტეთ, დავგეგმეთ და შევასრულეთ 2 მრავალფუნქციური საცხოვრებელი შენობა ქალაქ თბილისში მერაბ ალექსიძის ქ.1-ში და ტყვარჩელის ქ.2-ში. ასევე ვმუშაობთ ახალ მასშტაბურ პროექტზე ქ. თბილისში, საბურთალოს რაიონში, მერაბ ალექსიძის ქ.9-ში „ბასილონ ტაუერის“ დაპროექტებაზე და მშენებლობაზე. ასევე ვმუშაობთ დაბა სიონში „ბასილონ ეკო-რეზორტის“ დაპროექტებაზე და მის განხორციელებაზე, რომელიც თბილისელებს და მის სტუმრებს მისცემს საშუალებას, თბილისიდან 50 კმ-ის დაშორებით, ბუნების წიაღში, აბსოლუტურად ეკო-გარემოში დაისვენონ და აღიდგინონ ენერგია ზღვის დონიდან 1050 მეტრის სიმაღლეზე. </h4>

	<h3 class="uk-text-bold uk-text-warning">სასტუმრო</h3>
	<h4>j.პ.ს. “ბასილონ გლობალ სერვის“-ი ფლობს და მენეჯმენტს უწევს სასტუმრო "Basilon Hotel"-ს. სასტუმრო გაიხსნა 2014 წელს საბურთალოზე ალექსიძის 7-ში. ასევე მიმდინარეობს ქ. თბილისში,  ტყვარჩელის ქ.2-ში სასტუმროს მოწყობა და გამზადება ექსპლუატაციაში გასაშვებად.</h4>

	<h3 class="uk-text-bold uk-text-warning">ბიო-ორგანული სოფლის მეურნეობა:</h3> 
	<h4>ჩვენი მიმდინარე პროექტი მოიცავს ნატურალური, ბიო-ორგანული სოფლის მეურნეობის პროდუქტების (ბროწეული, საფერავის და ალექსანდრეულის ვაზის ჯიშები) მოყვანას და კულტივაციას.</h4>

	<h4>ჩვენი პროექტები გამოირჩევა თავისი მასშტაბებით, მრავალფეროვნებით, ინოვაციური მიდგომებით, თანამედროვე არქიტექტურითა და რაც მთავარია ხარისხით, რის გამოც წლებია მომხმარებელი ირჩევს ჩვენს კომპანიას შ.პ.ს. „ბასილონ გლობალ სერვის“-ს.</h4>

	<h3 class="uk-text-bold uk-text-warning">როგორ ვაკეთებთ ამას</h3>
	<h4>ჩვენი წარმატების განმსაზღვრელი მთავარი ფაქტორი - ხარისხიან მასალებთან და ინოვაციურ ტექნოლოგიებთან ერთად არის გუნდი, რომელიც ჩართულია პროექტის შექმნის სხვადასხვა ეტაპში. მათი ერთგულება, ცოდნა და გამოცდილება წარმოადგენს კომპანიის უმთავრეს აქტივს. შ.პ.ს. „ბასილონ გლობალ სერვის“-ის გუნდი წლებია ემსახურება საერთო იდეას საერთო ღირებულებებით: ხარისხი, ინოვაცია, განვითარება.</h4>

	<h3 class="uk-text-bold uk-text-warning">ჩვენი მისია</h3>

	<h4>ჩვენ მივისწრაფვით, რომ შ.პ.ს. „ბასილონ გლობალ სერვის“-ი ასოცირდებოდეს ადამიანებისთვის კომფორტულ, თანამედროვე, ჯანსაღი ცხოვრების წესთან.</h4>

	<h4>შ.პ.ს. „ბასილონ გლობალ სერვის“-ი თავისი შესრულებული სამუშაოებით ჩამოყალიბებულია ისეთ დეველოპერულ კომპანიად, რომელიც საქართველოში ნერგავს ხარისხიან, კომფორტული ცხოვრების სტანდარტს და ხელმისაწვდომს</h4>
</div>
