<!-- <h2 class="uk-text-center uk-margin-top uk-text-danger">About Us</h2> -->
<div class="uk-panel uk-panel-box uk-margin-large-bottom uk-margin-small-top uk-panel-space uk-text-center-justify">
	<h2 class="uk-text-center uk-text-danger uk-text-bold">ООО "Басилон Глобал Сервис"</h2>
	<h3 class="uk-text-warning" style="text-decoration:underline">Что мы делаем</h3>
	<h4>ООО "Басилон Глобал Сервис" - это строителная компания созданная в 2011 году в Тбилиси. Сферы нашей деятельности: строительство, менеджмент гостиницы и производство био-органического сельскохозаыственной продукции.
</h4>

	<h3 class="uk-text-warning" style="text-decoration:underline">Строительство</h3>
	<h4>Мы успешно спроектировали, спланировали и построили:
		<ul class="uk-list">
			<li>- Многофункционалные жилые корпуса на Алексидзе №7, Алексидзе №1 и Ткварчели №7.</li>	
			<li>- Мы также работаем над масштабным проектом под наванием "Басилон Тауверс" в районе Сабуртало.</li>
			<li>- Наш дополнителный проект - ето "Басилон Еко Резорт" в Сиони, который даст жителям и гостям Тбилиси возможность отдохнуть и восстановить силы в гущах природы в 1050 метрах над уровнем моря.</li>
		</ul>
	</h4>

	<h3 class="uk-text-warning" style="text-decoration:underline">Отель</h3>
	<h4>"Басилон Глобал Сервис" владеет и управлает гостиницей "Басилон Отель". Гостиница открылась в 2014 году в районе Сабуртало, Алексидзе №7. Наша компания также работает над новой гостиницей в Ткварчели №2.</h4>

	<h3 class="uk-text-warning" style="text-decoration:underline">Био-органическое сельское-хозяйство</h3>
	<h4>Наш нынешний проект заключает в себе производство и култивацию био-органических продуктов селского хозыаства (гранат, виноградники саперави и александрийский). <br />
		Наши проекты выделяюутся своими масштабами, разнообразием, иновационими подходами, современной архитектурой и что самое главное качеством из за чего потребители вибирают нас протяжении многих лет. 
	</h4>

	<h3 class="uk-text-warning" style="text-decoration:underline">Как мы это делаем</h3>

	<h4>Главный фактор в нашем успехе - команда которая работает с иновационными технологиями и включена в каждый этап работи над проектом. Их лояльность, знания и опыт представляют главный актив нашей компании. Команда "Басилон Глобал Сервис" служит обшей идее в месте с обшими ценностями: качество, иновация и развитие.</h4>

	<h3 class="uk-text-warning" style="text-decoration:underline">Наша миссия</h3>
	<h4>Мы добиваяемся чтоб "Басилон Глобал Сервис" ассоцировался с комфортным, современым и здоровым образом жизни. <br />
Благодаря своим проектам "Басилон Глобал Сервис" установило себя как компания которая основывает в Грузии качественные, комфортные стандарты проживания и делает их доступными для своих потребителей. <br />
Залог нашего успеха заключается в качественной постройке и высокой сеымостойкостью. <br />
Задача "Басилон Глобал Сервис" заключается в создании такой среды которая приносит счастье и высокие жизненные стандарты для каждого из нас.</h4>

	<h3 class="uk-text-warning" style="text-decoration:underline">Наше видение</h3>
	<h4>Быть динамичными и создавать двухстороннюю преданость.</h4>

	<h3 class="uk-text-warning" style="text-decoration:underline">Мы действуем с помощью следуыющих ценностей</h3>
	<h4>
		<ul class="uk-list">
			<li>- Удовлетворенние потребителя предложенным продуктом</li>	
			<li>- Честность и добросовестность - мы работаем честно и с уважением.</li>
			<li>- Лидерство и иновация - различные области включенны в обшую кухню девелопмента. На этапе завершения продукта каждый работник чувствует какую ответсвенность он нес на протяжении всего процесса.</li>
			<li>- Наш девиз - мы не предлогаем потребителям такого продукта какого не желали бы сами себе.</li>
			<li>- Лидерство - мы верим что профессионализм создает успех и предпосылки для развития, улучшений и иновации. Наша команда состоящая из компетентных профессионалов постоянно пытается удовлетворять потребности и приоритеты наших потребителей.</li>
		</ul>
	</h4>

</div>
