<div class="uk-panel uk-panel-box uk-margin uk-text-center">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5956.355018867786!2d44.77908840000001!3d41.71668830000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x404472d58fe5380d%3A0xb0a6f3229f2039ce!2s1+Merab+Aleksidze+St%2C+Tbilisi!5e0!3m2!1sen!2sge!4v1509256857905" width="100%" height="200" frameborder="0" style="border:0" class="uk-responsive-width" allowfullscreen></iframe>
</div>
<!-- todo: add google maps and ajax form submission -->
<div class="uk-panel uk-panel-box uk-margin">
<h2 class="uk-text-center" id="contact">Contact</h2>
<div class="uk-text-center uk-text-bold">
	<ul class="uk-list">
		<li> <span class="uk-icon-street-view uk-icon-small"></span> <span class="uk-text-success">
Адрес: </span>Алексидзе  #1, здание #2, Тбилиси, Грузия, 0171</li>	
		<br />
		<li> <span class="uk-icon-phone uk-icon-small"></span> <span class="uk-text-success">Тел: </span>2-33-39-41</li>
	</ul>
</div>
<form class="uk-form uk-margin" action="" method="post">
	<div class="uk-form-row uk-text-center">
		<input type="text" placeholder="Имя" class="uk-form-large uk-form-width-medium" />	
	</div>	
	<div class="uk-form-row uk-text-center">
		<input type="email" placeholder="Эл-почта" class="uk-form-large uk-form-width-medium" />	
	</div>
	<div class="uk-form-row uk-text-center">
		<textarea name="message" id="message" rows="8" cols="80" placeholder="Сообщение" class="uk-form-large"></textarea>	
	</div>
	<p class="uk-text-center"><button class="snip1582" type="submit">ОТПРАВИТЬ</button>
</p>
</form>
</div>
