<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>BGS</title>
	<link rel="icon" href="{{site.baseurl}}/assets/img/logo.jpg"/>
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/uikit.gradient.css"/>
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/dotnav.gradient.css"/>
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/slidenav.gradient.css"/>
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/sticky.gradient.css"/>
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>

{{content}}
		
<script src="{{site.baseurl}}/assets/js/jquery.js"></script>
<script src="{{site.baseurl}}/assets/js/uikit.js"></script>
<script src="{{site.baseurl}}/assets/js/lightbox.js"></script>
<script src="{{site.baseurl}}/assets/js/slideset.js"></script>
<script src="{{site.baseurl}}/assets/js/sticky.js"></script>
</body>
</html>
